<div class="d-flex mgx-2 mt-4">
    <b class="col-2">{{accounts.length}} <span class="mobile-hidden">nhân viên</span></b>
    <h2 class="col-8 text-center"><span class="mobile-hidden">Danh sách</span> Nhân viên</h2>
    <div class="col-2 d-flex justify-content-end align-middle">
        <a href="/admin/taikhoan-nhanvien/them" class="btn btn-success d-flex align-items-center"><i
                class="fa fa-regular fa-plus mobile-hidden"></i>Thêm</span></a>
    </div>
</div>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col" class="table-header to-be-hidden">STT</th>
            <th scope="col" class="table-header">Tên nhân viên</th>
            <th scope="col" class="table-header">Ngày sinh</th>
            <th scope="col" class="table-header to-be-hidden">Địa chỉ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each accounts}}
        <tr>
            <th scope="row" class="to-be-hidden">{{sum @index 1}}</th>
            <td>
                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#{{this._id}}" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    {{this.fullName}}
                </a>
                <div class="collapse" style="width: auto;" id="{{this._id}}">
                    <div>id: <span class="outline-label">{{this._id}}</span></div>
                    <div>Số điện thoại: <span class="outline-label">{{this.phoneNumber}}</span></div>
                    <div>Mật khẩu: <span class="outline-label">{{this.initPassword}}</span></div>
                </div>
            </td>
            <td>
                <div class="price-label outline-label">{{this.dateOfBirth}}</div>
            </td>
            <td class="to-be-hidden">
                <p class="management_description">{{this.description}}</p>
            </td>
            <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                    data-delete-id="{{this._id}}" data-full-name="{{this.fullName}}">Xóa</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!--Modal=============================-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="delete-btn">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-form" action="/admin/taikhoan-nhanvien/xoa" method="post" style="display: none;"
    enctype="application/x-www-form-urlencoded">
    <input name="_method" value="PATCH">
    <input type="text" name="deleteId" id="delete-id">
</form>

<script>
    var accountId;
    const deleteForm = document.getElementById('delete-form');
    const deleteId = document.getElementById('delete-id');
    const deleteBtn = document.getElementById('delete-btn');
    const deleteModal = document.getElementById('confirmDeleteModal');



    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const modalBody = document.getElementById('modal-body');
            modalBody.innerHTML = 'Bạn chắc chắn muốn xóa "' + button.getAttribute('data-full-name') + '"?';
            accountId = button.getAttribute('data-delete-id');
        });
    }
    deleteBtn.addEventListener('click', function (event) {
        deleteId.value = accountId;
        deleteForm.submit();
    });

    function navigateTo(url) {
        window.location.href = url;
    }
</script>