<div class="row justify-content-center mt-4">
    <div class="d-flex justify-content-end col-md-9 col-lg-6 px-0">
        <a href="/admin/baiviet"><button class="btn btn-primary"><i
                    class="fa-sharp fa-solid fa-house-person-return"></i> Danh sách bài viết</button></a>
    </div>
</div>
<div class="row justify-content-center mt-4 mb-4">

    <form action="/admin/baiviet/{{baiviet.slug}}/luu" method="post" enctype="multipart/form-data"
        class="card col-md-9 col-lg-6" style="background-color: rgb(103, 193, 185)">
        <h1 class="text-center">Sửa bài viết</h1>
        <div class="mb-3">
            <label for="name" class="form-label mx-2">Tên bài viết</label>
            <input type="text" name="name" id="name" autocomplete="cc-name" class="form-control"
                value="{{baiviet.name}}" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label mx-2">Tên tác giả</label>
            <input type="text" name="author" id="name" autocomplete="cc-name" class="form-control"
                value="{{baiviet.author}}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label mx-2">Mô tả</label>
            <textarea type="text" name="description" id="description" class="form-control" cols="30"
                rows="4">{{baiviet.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="formMultipleFile" class="form-label mx-2">Chọn các file ảnh</label>
            <input class="form-control" name="images" type="file" id="formMultipleFile" multiple>
        </div>

        <div id="mainImageIndex" class="d-none">{{baiviet.mainImageIndex}}</div>
        <div id="imageArea" class="d-flex flex-wrap">
            {{#each baiviet.imagesUrls}}
            <div class="position-relative">
                <div class="form-check-group position-absolute start-50 top-0"
                    style="background-color: rgb(66, 171, 66); border-radius: 3px; border: 1px solid yellow;color: white;">
                    <input class="form-check-input" id="image{{@index}}" type="radio" name="mainImageIndex" value="{{@index}}">
                    <label for="image{{@index}}">ảnh chính</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="imagesUrls" id="{{this}}"
                        value="{{this}}" checked>
                    <label for="{{this}}"><img src="{{this}}" alt="Ảnh bài viết" style="width: 10rem;"></label>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="mb-3">
            <label for="content" class="form-label mx-2">Nội dung</label>
            <textarea type="text" name="content" id="content" class="form-control" cols="30"
                rows="20">{{baiviet.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-success mb-3"><i class="fa-regular fa-floppy-disk me-1"></i>Lưu bài
            viết</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const mainImageIndex = document.getElementById('mainImageIndex').innerHTML;
        document.getElementById('image' + mainImageIndex).setAttribute('checked', 'true');
    });
</script>