<div class="row justify-content-center">
    <div class="col-sm-8 col-md-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://i.ytimg.com/vi/qsA7v2zTmPM/hq720.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.ytimg.com/vi/nKEepOm37bQ/hq720.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i.ytimg.com/vi/e7SUpxkcFnU/hq720.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="d-flex m-4 justify-content-center flex-wrap">
    {{#each categories}}
    <select class="form-select mb-2 flex-flow-1 mx-2" style="width: fit-content; background-color: rgb(255, 223, 245)"
        name="typesId[]">
        <option value="">--{{this.name}}--</option>
        {{#each this.types}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    {{/each}}
</div>

<div class="row">
    {{#each products}}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-0 mb-1 mb-sm-0  d-flex justify-content-center">
        <div onclick="navigateTo('/sanpham/{{this.slug}}/chitiet')" data-name="cards" class="card product-card mb-1" style="height: 24rem; width: 13rem; max-width:inherit;">
            <img src="{{valueAt this.imagesUrls this.mainImageIndex}}" class="card-img-top card-image object-fit-cover"
                alt="{{this.name}}">
            <div class="card-body">
                <h6 class="card-title">{{this.name}}</h6>
                <span class="old-price-label" data-onsale="{{this.onSale}}">{{this.oldPrice}}</span><span
                    class="old-price-label price-label-ending">đ</span><br>
                <span class="price-label">{{this.price}}</span><span class="price-label price-label-ending">đ</span><br>

            </div>
        </div>
    </div>
    {{/each}}
</div>
<script>
    const prices = document.querySelectorAll('span[class="price-label"]');
    const oldPrices = document.querySelectorAll('span[class="old-price-label"]');
    const cards = document.querySelectorAll('div[data-name="cards"]');

    cards.forEach(card => {
        card.addEventListener('touchstart', function (e) {
            this.classList.add('touched');
        });
        card.addEventListener('touchend', function (e) {
            this.classList.remove('touched');
        });
    })
    oldPrices.forEach(function (oldPrice) {
        const onSale = oldPrice.getAttribute('data-onsale');
        console.log(onSale);
        if (onSale === 'true') {
            const number = parseFloat(oldPrice.innerHTML);
            oldPrice.innerHTML = number.toLocaleString('vi-VN');
        }
        else {
            oldPrice.setAttribute('hidden', 'true');
            oldPrice.nextElementSibling.setAttribute('hidden', 'true');
        }
    })
    prices.forEach(function (price) {
        const number = parseFloat(price.innerHTML);
        price.innerHTML = number.toLocaleString('vi-VN');
    })

    function navigateTo(url) {
            window.location.href = url;
        }
</script>