<div class="row justify-content-center mt-4">
    <div class="card col-lg-6 col-md-9" style="background-color:aquamarine;">
        <h1 class="text-center">Thông tin cửa hàng</h1>
        <a href="/admin/shop/quangcao" class="btn btn-warning mb-2" style="width: fit-content; margin-left: auto;">Quảng
            cáo</a>
        <form action="/admin/thongtincuahang/luu" method="post">
            <input class="d-none" name="_method" value="PUT">
            <div class="mb-3 row">
                <label for="shortName" class="col-sm-2 col-form-label">Tên Ngắn:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="shortName" id="shortName" value="{{info.shortName}}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="fullName" class="col-sm-2 col-form-label">Tên đầy đủ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="fullName" id="fullName" value="{{info.fullName}}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="address" class="col-sm-2 col-form-label">Địa chỉ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="address" id="address" value="{{info.address}}" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="linkFacebook" class="col-sm-2 col-form-label">Link facebook:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="linkFacebook" id="linkFacebook" value="{{info.linkFacebook}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="linkZalo" class="col-sm-2 col-form-label">Link zalo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="linkZalo" id="linkZalo" value="{{info.linkZalo}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="linkYoutube" class="col-sm-2 col-form-label">Link Youtube:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="linkYoutube" id="linkYoutube" value="{{info.linkYoutube}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="linkGoogleMap" class="col-sm-2 col-form-label">Link google map:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="linkGoogleMap" id="linkGoogleMap" value="{{info.linkGoogleMap}}">
                </div>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-success mb-3"><i class="fa-regular fa-floppy-disk me-1"></i>Lưu thay
                đổi</button>
            </div>
        </form>
    </div>
</div>