<div class="row justify-content-center mt-4">
    <div class="d-flex justify-content-end col-md-9 col-lg-6 px-0">
        <a href="/admin/kho/chude/{{category.slug}}" class=""><button class="btn btn-success">Trở về</button></a>
    </div>
</div>
<div class="row justify-content-center mt-4">

    <form action="/admin/kho/chude/{{category.slug}}/phanloai/{{type.slug}}/sua" method="post" enctype="multipart/form-data" class="card col-md-9 col-lg-6" style="background-color: rgb(103, 193, 136)">
        <h1 class="text-center">Sửa phân loại</h1>
        <div class="mb-3">
            <label for="inputTypeName" class="form-label mx-2">Tên phân loại</label>
            <input type="text" name="name" id="inputTypeName" autocomplete="cc-name" class="form-control" value="{{type.name}}" required>
        </div>
        <div class="mb-3">
            <label for="inputTypeDescription" class="form-label mx-2">Mô tả</label>
            <input type="text" name="description" id="inputTypeDescription" class="form-control" value="{{type.description}}">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label mx-2">Chọn file icon</label>
            <input class="form-control" name="icon" type="file" id="formFile">
        </div>

        <div class="mb-3">
            <label class="form-label mx-2">Chủ đề phân loại:</label>
            <input value="{{category.name}}" disabled>
            <input name="categoryId" value="{{category._id}}" hidden>
        </div>
        <button type="submit" class="btn btn-success mb-3"><i class="fa-regular fa-floppy-disk me-1"></i>Lưu phân
            loại</button>
    </from>
</div>