<div class="mt-4 d-flex justify-content-end mgx-2">
    <a href="/admin/kho/nhaphang" class="me-1 btn btn-warning">Nhập hàng</a>
    <a href="/admin/kho/nhaphang/lichsu" class="me-1 btn btn-warning">Lịch sử nhập <span class="mobile-hidden">
            hàng</span></a>
    <a href="/admin/kho/chude-phanloai" class="btn btn-warning"><span class="mobile-hidden">Quản lý</span> Phân loại</a>
</div>
<div class="d-flex mgx-2 mt-4">
    <b class="col-2">{{products.length}} <span class="mobile-hidden">sản phẩm</span></b>
    <h2 class="col-8 text-center"><span class="mobile-hidden">Quản lý</span> Sản phẩm</h2>
    <div class="col-2 d-flex justify-content-end align-middle">
        <a href="/admin/kho/sanpham/them" class="btn btn-success d-flex align-items-center"><i
                class="fa fa-regular fa-plus mobile-hidden"></i>Thêm</a>
    </div>
</div>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col" class="table-header to-be-hidden">STT</th>
            <th scope="col" class="table-header">Tên sản phẩm</th>
            <th scope="col" class="table-header mobile-hidden">Đơn giá</th>
            <th scope="col" class="table-header mobile-hidden">Số lượng</th>
            <th scope="col" class="table-header to-be-hidden">Đã bán</th>
            <th scope="col" class="table-header">Ảnh</th>
            <th scope="col" class="table-header to-be-hidden">Mô tả</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <th onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')" scope="row" class="to-be-hidden">{{sum @index 1}}</th>
            <td onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')"> {{this.name}}</td>
            <td onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')" class="mobile-hidden">
                <div class="price-label outline-label">{{this.price}}</div>
            </td>
            <td onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')" class="mobile-hidden">
                <div class="outline-label">{{this.stock}}</div>
            </td>
            <td onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')" class="to-be-hidden">
                <div class="outline-label">{{subtract this.count this.stock}}</div>
            </td>
            <td onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')"> <img class="product-thumnail" src="{{valueAt this.imagesUrls this.mainImageIndex}}" alt="Ảnh sản phẩm">
            </td>
            <td onclick="navigateTo('/admin/kho/sanpham/{{this.slug}}')" class="to-be-hidden">
                <p class="product-management_description">{{this.description}}</p>
            </td>
            <td><a href="/admin/kho/sanpham/{{this.slug}}/sua" class="btn btn-info">Sửa</a></td>
            <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                    data-delete-id="{{this._id}}" data-product-name="{{this.name}}">Xóa</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!--Modal=============================-->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="delete-btn">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-form" action="/admin/kho/sanpham/xoa" method="post" style="display: none;"
    enctype="application/x-www-form-urlencoded">
    <input name="_method" value="PATCH">
    <input type="text" name="deleteId" id="delete-id">
</form>

<script>
    var productId;
    const deleteForm = document.getElementById('delete-form');
    const deleteId = document.getElementById('delete-id');
    const deleteBtn = document.getElementById('delete-btn');
    const deleteModal = document.getElementById('confirmDeleteModal');

    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const modalBody = document.getElementById('modal-body');
            modalBody.innerHTML = 'Bạn chắc chắn muốn xóa "' + button.getAttribute('data-product-name') + '"?';
            productId = button.getAttribute('data-delete-id');
        });
    }
    deleteBtn.addEventListener('click', function (event) {
        deleteId.value = productId;
        deleteForm.submit();
    });
    const prices = document.querySelectorAll('div[class="price-label outline-label"]');

    prices.forEach(function (price) {
        const number = parseFloat(price.innerHTML);
        price.innerHTML = number.toLocaleString('vi-VN') + 'đ';
    })

    function navigateTo(url) {
            window.location.href = url;
    }
</script>