<style>
    body {
        background-color: #000
    }

    .card {
        border: none
    }

    .product {
        background-color: #eee
    }

    .brand {
        font-size: 13px
    }

    .act-price {
        color: red;
        font-weight: 700
    }

    .dis-price {
        text-decoration: line-through
    }

    .about {
        font-size: 14px
    }

    .color {
        margin-bottom: 10px
    }

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid #ff0000;
        display: inline-block;
        color: #ff0000;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked+span {
        border-color: #ff0000;
        background-color: #ff0000;
        color: #fff
    }

    .btn-danger {
        background-color: #ff0000 !important;
        border-color: #ff0000 !important
    }

    .btn-danger:hover {
        background-color: #da0606 !important;
        border-color: #da0606 !important
    }

    .btn-danger:focus {
        box-shadow: none
    }

    .cart i {
        margin-right: 10px
    }

    #main-image {
        max-width: 100%;
        height: 500px;
    }

    @media(max-width: 767px) {
        #main-image {
            max-width: 100%;
            height: 400px;
        }
    }
</style>
<div class="col-12 m-0 row d-flex justify-content-center">
    <div class="card p-0">
        <div class="row m-0">
            <div class="col-md-6 px-0">
                <div class="images py-2">
                    <div class="text-center pb-3 image-container"> <img id="main-image"
                            src="{{valueAt product.imagesUrls product.mainImageIndex}}" class="object-fit-scale" />
                    </div>
                    <div class="thumbnail text-center">
                        {{#each product.imagesUrls}}
                        <img onclick="change_image(this)" class="img-thumbnail" src="{{this}}" width="70">
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="product p-4">
                    <div class="mt-4 mb-3">
                        <h5 class="text-uppercase">{{product.name}}</h5>
                        <div class="price">
                            <span id="price" class="price-label detail-price">{{product.price}}</span><span
                                class="price-label price-label-ending">đ</span>
                            <span id="old-price" class="old-price-label"
                                data-onsale="{{product.onSale}}">{{product.oldPrice}}</span><span
                                class="old-price-label price-label-ending">đ </span>
                            <div class="ml-2">Giảm <span id="percent-off"></span>%</div>
                        </div>
                    </div>
                    <div class="cart mt-4 align-items-center mb-3">
                        <form action="/giohang/them" method="post">
                            <input type="text" name="productId" value="{{product._id}}" hidden>
                            <button type="submit" class="btn btn-danger text-uppercase mr-2 px-4">Thêm vào giỏ
                                hàng</button>
                        </form>
                        <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i>
                    </div>
                    <p class="about" style="white-space: pre-line;">
                        <b style="font-size:medium;">Thông tin sản phẩm:</b><br>{{{product.description}}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    function change_image(image) {
        var container = document.getElementById("main-image");
        container.src = image.src;
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        const price = document.getElementById('price');
        const oldPrice = document.getElementById('old-price');
        const percentOff = document.getElementById('percent-off');

        const number = parseFloat(price.innerHTML);
        price.innerHTML = number.toLocaleString('vi-VN');
        const onSale = oldPrice.getAttribute('data-onsale');
        if (onSale === 'true') {
            const number2 = parseFloat(oldPrice.innerHTML);
            oldPrice.innerHTML = number2.toLocaleString('vi-VN');
            percentOff.innerHTML = parseInt((number2 - number) * 100 / number2);
        }
        else {
            oldPrice.setAttribute('hidden', 'true');
            oldPrice.nextElementSibling.setAttribute('hidden', 'true');
            oldPrice.nextElementSibling.nextElementSibling.setAttribute('hidden', 'true');
        }

    });
</script>